@page "/Specialities"

@using AssignmentManager.Shared

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject HttpClient _httpClient

<h1>Specialities</h1>

<p>This controller demonstrates fetching data from the server's SpecialitiesController.</p>


@code {
    private SpecialityForecast[] _specialities;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _specialities = await _httpClient.GetFromJsonAsync<SpecialityForecast[]>("api/specialities");
        } catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
